/* Improved mobile usability */
@media only screen and (max-width: 790px) {
    /* Styles for mobile */
    #navigation{
        width: 0px;
        display: none;
    }

    #logo,
    #ui-left{
        width: 7rem;
        min-width: 7rem;
        margin: 0;
    }
    #ui-right{
        width: 100%;
    }
    #players,
    #action-bar,
    #hotbar
    {
        display:none !important;
    }
    #ui-middle{
        opacity: 0;
        width: auto;
        min-width: calc(100% - 24rem);
    }
    #sidebar {
        width: 17rem !important;
        margin: 0;
        height: 100%;
    }
    #chat-controls {
        flex: initial;
    }
    section#chat {
        opacity: 1;
    }
    #sidebar-tabs > .collapse{
        min-width: 2rem;
        width: 2rem;
    }
    .window-app {
        filter: opacity(1);
        max-width: 100% !important;
        width: 100% !important;
        min-width: 100% !important;
        min-height: 100% !important;
    }
}