/*HEIGHT FLEXIBLE SIDEBAR & STAY HORIZONTAL WHEN COLLAPSING*/

#sidebar {
    height: auto;
    width: 282px !important;
}

#sidebar.collapsed #sidebar-tabs {
    flex-direction: row;
}

/*********************************/

/*SIDEBAR ITEMS FULL WIDTH NO SPACING*/

#sidebar-tabs > .item {
    flex: 1 0 var(--sidebar-tab-width);
}

/********************************/