/*UI FIX*/
:root {
    --spacing: 8px;
    --font-size-14: 14px;
    --font-size-12: 12px;
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-11: 11px;
}

.window-app .window-content,
.sheet.journal-entry .journal-entry-content {
    background-size: 100% 100%;
}

.window-app .window-content {
    background-size: 100% 100%;
    padding: var(--spacing);
}

.chat-message {
    margin: 8px;
    padding: 8px;
    font-size: var(--font-size-14);
    border-radius: 6px;
    background-size: 100% 100%;
}

#sidebar .directory .action-buttons {
    padding: 0px;
    margin: 0 0 var(--spacing);
}

#sidebar-tabs {
    margin: 0 0 var(--spacing);
    box-shadow: 0px;
}

.directory .directory-header {
    padding: var(--spacing);
    margin: 0px;
}

h4.playlist-name {
    font-size: var(--font-size-14);
    text-decoration: none;
    text-shadow: 0 0 4px black;
}

h4.sound-name {
    font-size: var(--font-size-12);
}

.package-configuration aside.sidebar {
    padding: var(--spacing);
}

.package-configuration aside.sidebar nav.tabs .category-tab {
    padding: var(--spacing) 0;

}

.playlists-sidebar .global-control .playlist-header h4 {
    text-decoration: none;
    text-shadow: 0 0 4px black;
}

.compendium-sidebar ol.compendium-list {
    padding: var(--spacing);
}

.directory .directory-list {
    padding: var(--spacing);
}

.playlists-sidebar .global-control {
    padding: var(--spacing);
}

.settings-sidebar #game-details {
    padding: var(--spacing);
}

.compendium-sidebar li.compendium-pack .compendium-footer {
    font-size: var(--font-size-12);
    color: var(--app-dialog-background-shaded);
}

.compendium-sidebar li.compendium-pack .status-icons {
    size: 4px;
}


.package-configuration .categories .scrollable {
    padding: var(--spacing);
}


h4 {
    font-size: var(--font-size-16);
    text-align: center;
    text-shadow: 0px 0px 4px black;
}

i {
    text-shadow: 0px 0px 4px black;
}

button {
    text-shadow: 0px 0px 4px black;
}

strong {
    text-shadow: 0px 0px 4px black;
}

.playlists-sidebar li.sound .sound-playback .sound-timer {
    flex: 1;
}

/*Settings "ALL" sticks to top*/

span.count {
    color: var(--color-text-light-4);
    font-size: var(--font-size-11);
}

a.item.category-tab.category-all {
    font-size: var(--font-size-18);
    text-transform: uppercase;
    text-decoration: underline;
    position: fixed;
    top: 1;
    width: 100%;
    margin-top: -40px;
}

.package-configuration aside.sidebar nav.tabs {
    margin-top: 40px;
    margin-bottom: var(--spacing);
}

/**/